body{
	padding-top: 50px;
	font-family: 'Oswald', sans-serif;

}

#headerWrapper{
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

#partial-headerWrapper{
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 183px;
	background-image: url(../images/headerlogo/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

#logotext{
	padding-top: 250px;
	position: center;
	width: 75%;
	height: 100px;
	background-image: url(../images/headerlogo/text.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 180px;
	top 50%;

}

#foreground{
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url(../images/headerlogo/foreground.png);
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: right bottom;
	top: 525px;
	right: -50px;
}

#background {
	position: absolute;
	width: 100%;
	height: 100px;
	background-image: url(../images/headerlogo/login.jpg);
	background-repeat: no-repeat;
	background-size: auto 350px;
	top: 400px;
	left: -25px; 
}

.img-thumb{
	width: auto;
	height: 200px;
}

#footer{
	margin-top: 50px;
}

img.details{
	width: 90%; 
	margin: 15px auto;
}

.table-auto{
	width:auto;
	margin: 0 auto;
}

#add-product-btn{
	margin-top: -45px;
}

#add-user-btn{
	margin-top: -45px;
}

#login-form{
	width: 50%;
	height: 60%;
	border: 2px solid #000;
	border-radius: 15px;
	box-shadow: 7px 7px 15px rgba(0,0,0,0,6);
	margin: 7% auto;
	padding: 15px;
}

.total-table-header th{
	text-align: center;
}

#cart_widget td, #recent_widget td{
	font-size: 14px;
}

input.price_range{
	width: 55px;
}